body{
    background-image: url("images/bg.png");
    display: block;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

h1{
    font-family: serif;
}

.logo{
    width: 18vw;
    height: 14vh;
    padding-top: 1vh;
    position: relative;
    align-self: center;
}

.mintdiv{
    width: 40vw;
    height: 30vh;
    padding-top: 1vh;
    position: relative;
    align-self: center;
    background-color: ;
}