body{
    background-image: url("images/bg.png");
    display: block;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    align-content: center;
}

h1{
    font-family: Arial;
}

h2{
    font-family: Arial;
    color: white;
    font-size: 30px;
    margin: 2vh;
    margin-bottom: 1vh;
}

.smallbutton{
    background-color: #3aeb1b;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2vh 1vw;
    cursor: pointer;
    border: black solid 2px;
    border-radius: 10px;
    margin-bottom: 1vh;
    box-shadow: 2px 3px black;
}

.logo{
    width: 18vw;
    height: 14vh;
    padding-top: 1vh;
    position: relative;
    align-self: center;
}

.conlink{
    font-family: Arial;
    color: #3aeb1b;
    font-size: 14px;
    font-weight: bold;
}

.generaldiv{
    width: 40vw;
    margin: 0 auto;
    height: max-content;
    text-align: center;
    padding: 2vh;
    margin-top: 5vh;
    position: relative;
    align-self: center;
    background-color: rgb(95, 95, 95);
    border: dashed 3px #3aeb1b;
    border-radius: 20px;
    padding-bottom: 2%;
}

.mintdiv{
    height: 18vh;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding: 2vh;
    margin-top: 5vh;
    position: relative;
    align-self: center;
    background-color: black;
    border-radius: 20px;

}

.input{
    font-size: large;
    text-align: center;
    width: fit-content;
}