body{
    background-image: url("images/bg.png");
    display: block;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}

.logo{
    width: 18vw;
    height: 14vh;
    margin: 2vh;
    position: relative;
    align-self: center;
}