

li.nav{
    display: inline-block;
    color: #93fe09;
    font-size: 1vw;
    margin-inline: 4vw;
}

.navbar{
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}