

li.nav{
    display: inline-block;
    color: #93fe09;
    font-size: 1.5vw;
    font-weight: bold;
    margin-inline: 1.25vw;
}

li.nav:hover{
    bacl
}

.navbar{
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
}